<ion-modal-view>
    <ion-header-bar>        
        <i class="ion-arrow-left-c arrow-back" ng-click="modal.hide()"></i>
        <h1 class="title" style="text-align">Registro emprestimo</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="transactionRe" ng-submit="registerTransaction()" >
          <ion-card>
            <ion-item>
              <ion-avatar item-left class="avatar-ion">
                <img class="avatar" src="https://maker-live-fldr.imgix.net/assets/no-avatar-circular-ab7d5f67ec61eb5c9b993d61cab298fe.png?auto=format">
              </ion-avatar>
              <h2 ng-if="contact.name == 'Sem Nome' || contact.name == undefined" class="title-name">Desconhecido</h2>
              <h2 ng-if="contact.name != 'Unknw' || contact.name != undefined" class="title-name">{{contact.name}}</h2>
              <i class="ion-iphone app-green" ng-if="contact.registrationFlag"></i>
              <i class="ion-iphone app-red"  ng-if="!contact.registrationFlag"></i>
            </ion-item>
            <ion-item>
              <span class="input-label">Valor a ser cobrado: </span>              
                <input id="val" type="tel" placeholder="Valor">                  
            </ion-item>
          </ion-card>
          <button type="submit" class="button button-full button-dark button-contact">
              ENVIAR
          </button>
        </form>
    </ion-content>
</ion-modal-view>