<ion-modal-view class="new_modal">
    <ion-header-bar align-title="center" class="bar-positive new-header">       
        <i class="ion-arrow-left-c arrow-back" ng-click="modal.hide()"></i>
        <h1 class="title" style="text-align">Registro emprestimo</h1>
    </ion-header-bar>
    <ion-content class="padding" on-drag-right="onDrag()">
        <form name="transactionRe" ng-submit="registerTransaction(register, transaction)" >
          <ion-card>
            <ion-item>
              <ion-avatar item-left class="avatar-ion">
                <img class="avatar" src="img/no-avatar.png">
              </ion-avatar>
              <h2 ng-if="contact.name == 'Sem Nome' || contact.name == undefined" class="title-name">Desconhecido</h2>
              <h2 ng-if="contact.name != 'Unknw' || contact.name != undefined" class="title-name">{{contact.name}}</h2>
              <i class="ion-iphone app-green" ng-if="contact.registrationFlag"></i>
              <i class="ion-iphone app-red"  ng-if="!contact.registrationFlag"></i>
            </ion-item>
            <ion-item>
              <span class="input-label">Valor a ser cobrado: </span>              
                <input id="val" type="tel" name="input" ng-model="transaction.valueTotal" placeholder="Valor" ng-pattern="\\d+">                  
            </ion-item>
            <ion-item>
              <span class="input-label">Descrição: </span>              
                <input id="val" type="text" name="input" ng-model="transaction.description" placeholder="Descrição">                  
            </ion-item>
          </ion-card>
          <p style="register-error">
            {{error_contact}}
          </p>
          <input type="submit" value=" {{contact.name}} ME DEVE" ng-click="register = 'creditor'" style="background-color: green; width:100%;" class="button button-full button-dark button-contact"/>
       
          <input type="submit" value="EU DEVO PARA {{contact.name}}" ng-click="register = 'debitor'" style="background-color: red; width:100%;" class="button button-full button-dark button-contact">
           
        </form>
    </ion-content>
</ion-modal-view>