<ion-modal-view>
    <ion-header-bar>       
        <h1 class="title" style="text-align">Registro Usuário</h1>
    </ion-header-bar>
    <ion-content class="padding">
    <form name="registerNumber" ng-submit="registerNumber.$valid && register(user) ">
      <div class="form-group" >
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input ng-required="true" name="name" ng-model="user.name" type="text" placeholder="Nome"/>
        </label>
        <div class="register-error" ng-if="submitted">
          <p ng-message="required">Campo obrigatório.</p>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">DDD + Telefone</span>
           <input type="text" ng-model="user.phone.value" id="inputPhone" name="phone" placeholder="DDD + telefone" ng-required="true" ui-br-phone-number>
        </label>
        
        <div class="register-error" ng-if="submitted">
          <p ng-message="pattern">Telefone inválido.</p>
          <p ng-message="required">Campo obrigatório.</p>
        </div>
      </div>  
      </div>  
      <button type="submit" class="button button-light button-register">
        <p class="text-button">CADASTRAR</p>
      </button>
    </form>
  </ion-content>
</ion-modal-view>