
<ion-view title="Membros" id="page1" hide-back-button="false" >
    <ion-content padding="true">
      <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
      </ion-refresher>   
         <label class="group-title"><h2>{{group.title}}</h2></label>
         <div ng-if="members.length > 0" >
           <ion-list ng-repeat="member in members">
            <ion-item>
                <ion-avatar item-left class="avatar-ion">
                    <img class="avatar" src="img/no-avatar.png">
                </ion-avatar>
                <div item-left style="float:left; margin-left: 3px;">
                    <h2>{{member.name}}</h2>
                    <p>Número de Celular: {{member.phone.value}}</p>
                    <p ng-if="member.individualBalance">Valor: 
                        <label ng-if="member.individualBalance >= 0" style="color: green">
                            R$+{{member.individualBalance}}
                        </label>
                        <label ng-if="member.individualBalance < 0" style="color: red">
                            R$-{{member.individualBalance}}
                        </label>
                    </p>
                </div>
            </ion-item>
           </ion-list>
          </div>
          <div ng-hide="members.length > 0">
            <p> Não há membros no grupo ainda </p>
          </div>
    </ion-content>
</ion-view>
