
<ion-view title="Groups" id="page1">
    <ion-content padding="true" class="has-header">
        <h1>Teste</h1>
    </ion-content>
    <div class="float-button">
      <span class="height-fix">
      <a ui-sref="add-trip" class="content">
        <i class="ion-plus-round"> </i>
      </a>
      </span>
    </div> 
</ion-view>

<!--ion-view view-title="Transações do Grupo">
  <ion-nav-buttons side="right">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    <i class='ion-arrow-left-c ion-plus-round text-right group-icon' ng-click="openGroupsModal()"></i>
  </ion-nav-buttons>

<ion-content>
</ion-content>
<div class="float-button">
  <span class="height-fix">
    <a ui-sref="add-trip" class="content">
      <i class="ion-plus-round"> </i>
    </a>
  </span>
</div> 
</ion-view --> 