<ion-view title="Tabs Controller" id="page1" ng-controller="GroupTransactionsCtrl">
    
 <ion-tabs class="tabs-icon-top tabs-balanced">
     <i class="ion-android-exit" style="color: red; font-size: 25px; margin-right: 20px; margin-top: 5px;" ng-click="deleteGroup()"></i>
        <ion-tab title="Transações" icon="ion-ios-pricetag" ui-sref="tabs.transactions" id="tabsController-tab2">
            <ion-nav-view name="tabs-transactions"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Membros" icon="ion-android-contacts" ui-sref="tabs.members" id="tabsController-tab3">
            <ion-nav-view name="tabs-members"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
</ion-view>
