<ion-view view-title="Pendentes">
  <ion-content ng-init="getPendencies()" class="padding list-avatar-page">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">

   </ion-refresher>
    <button class="button" ng-click="getPendencies()">Listar pendencias</button>
    <ion-list ng-show="transactions.length">
      <div class="padding item-divider">
        Hoje
      </div>
      <ion-item  ng-repeat="transaction in transactions" ng-click = "openModal(transaction)" class="item-list">
        <ion-avatar item-left style="float: left; margin-right:10px">
            <img style="width: 45px" src="img/no-avatar.png">
        </ion-avatar>
         <div item-left style="float:left" >
        <div id="name" ng-if="transaction.creator.name">
          <h2>{{transaction.creator.name}}</h2>
        </div>
        <div id="phone"  ng-if="!transaction.creator.name">
          <h2>{{transaction.creator.phone}}</h2>
        </div>
        <p >{{transaction.createdAt | relativeDate}}</p>
         </div>
         <div ng-if="transaction.creator.phone.value != transaction.creditor.phone.value" class="item-image">
          <img src="img/creditor.svg">
         </div>
         <div ng-if="transaction.creator.phone.value != transaction.debtor.phone.value" class="item-image">
          <img src="img/debtor.svg">
         </div>
      </ion-item>
    </ion-list>
    <ion-item style="border: none">
      <div ng-hide="transactions.length">
        <p> Não há transações pendentes no momento </p>
      </div>
    </ion-item>
  </ion-content>
</ion-view>