<ion-modal-view>
    <ion-header-bar>        
        <i class="ion-arrow-left-c arrow-back" ng-click="closeModal()"></i>
        <h1 class="title" style="text-align">{{transaction.creator.name}}</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-card>
        <ion-item>
          <ion-avatar item-left class="avatar-ion">
            <img class="avatar" src="https://maker-live-fldr.imgix.net/assets/no-avatar-circular-ab7d5f67ec61eb5c9b993d61cab298fe.png?auto=format">
          </ion-avatar>
           <div id="name" ng-if="transaction.creator.name">
          <h2>{{transaction.creator.name}}</h2>
        </div>
        <div id="phone"  ng-if="!transaction.creator.name">
          <h2>{{transaction.creator.phone.value}}</h2>
        </div>
           <p>{{transaction.createdAt |relativeDate}}</p>
        </ion-item>
           <div ng-if="transaction.creator.phone.value == transaction.creditor.phone.value && !(transaction.status == 'paymentConfirm')" class="item item-body">
           <p>Seu amigo {{transaction.creator.name}}
             disse que você deve a ele R${{transaction.valueTotal}}, você concorda?</p>
           </div>
           <div ng-if="transaction.creator.phone.value == transaction.debtor.phone.value && !(transaction.status == 'paymentConfirm')" class="item item-body">
            <p>Seu amigo {{transaction.creator.name}}
             disse que lhe deve R${{transaction.valueTotal}}, você concorda?</p>
           </div>


           <div ng-if="(transaction.status == 'paymentConfirm')&&(transaction.creditor.phone.value == phone && !(transaction.creditor.senderConfirm))" class="item item-body">
            <p>Voce confirma que a transação com {{transaction.debtor.name}} foi pago <label ng-if="transaction.valueTotal > transaction.valuePaid"> o valor parcial R${{transaction.valuePaid}} sobre</label>
              <label ng-if="transaction.valueTotal == transaction.valuePaid"> o valor total de </label> R$ {{transaction.valueTotal}}?
            </p>
           </div>

              <div ng-if="(transaction.status == 'paymentConfirm')&&(transaction.debtor.phone.value == phone && !(transaction.debtor.senderConfirm))" class="item item-body">           
                 <p>Voce confirma que a transação com {{transaction.creditor.name}} foi pago <label ng-if="transaction.valueTotal > transaction.valuePaid"> o valor parcial R${{transaction.valuePaid}} sobre</label>
              <label ng-if="transaction.valueTotal == transaction.valuePaid"> o valor total de </label> R$ {{transaction.valueTotal}}?
            </p>
           </div>



           <ion-item>
            <div class="button-bar" ng-if="transaction.status != 'paymentConfirm'">
              <a class="button button-dark" ng-click="changePendencieStatus(transaction, 'accepted')">Sim</a>
              <a class="button button-dark" ng-click="changePendencieStatus(transaction, 'denied')">Não</a>
            </div>
            <div class="button-bar" ng-if="transaction.status == 'paymentConfirm'">
              <a class="button button-dark" ng-click="changePendencieStatus(transaction, 'paid')">Sim</a>
              <a class="button button-dark" ng-click="changePendencieStatus(transaction, 'accepted')">Não</a>
            </div>
           </ion-item>
      </ion-card>
      <ion-card>
  </ion-content>
</ion-modal-view>