<ion-modal-view class="new_modal">
    <ion-header-bar align-title="center" class="bar-positive new-header">     
        <i class="ion-arrow-left-c arrow-back" ng-click="closeModal()"></i>
        <h1 class="title" style="color: #fff">{{pending.title}}</h1>
    </ion-header-bar>
    <ion-content class="padding" on-drag-right="onDrag()">
        <ion-card>
            <ion-item>
                <ion-avatar item-left class="avatar-ion">
                    <img class="avatar" src="img/no-group.png">
                </ion-avatar>
                <div id="name" ng-if="pending.title">
                    <h2>{{pending.title}}</h2>
                </div>
                 <p>{{pending.createdAt | relativeDate}}</p>
            </ion-item>
            <div ng-if="pending.statusPendencie == 'createGroup'" class="item item-body">
                <p>Seu amigo {{pending.creator.name}}
             Criou o grupo {{pending.title}}, você concorda em entrar nele?</p>
           </div>
           <div ng-if="pending.statusPendencie == 'finalizeGroup'" class="item item-body">
                <p>Seu amigo {{pending.creator.name}}
            	Solicitou a finalização do grupo {{pending.title}}, você concorda em finalizar ele?</p>
           </div>
           <div ng-if="pending.statusPendencie == 'finalizeTransaction'" class="item item-body">
                <p>Uma transação do grupo {{pending.title}}                 
                    <label>
                        de descrição: {{transaction.description}} e de valor: R$ {{transaction.valuePaid}} está errada.
                        <p>Você concorda?</p>                        
                    </label>            
                </p>
           </div>
           <ion-item>
            <div class="button-bar" ng-if="pending.statusPendencie == 'finalizeTransaction'">
                <a class="button accept-button" ng-click="acceptDeleteGroupTransaction(pending, transaction)">Sim</a>
                <a class="button deny-button" ng-click="denyDeleteGroupTransaction(pending, transaction)">Não</a>
            </div>
            <div class="button-bar" ng-if="pending.statusPendencie == 'createGroup'">
              <a class="button accept-button" ng-click="acceptGroupInvitation(pending)">Sim</a>
              <a class="button deny-button" ng-click="denyGroupInvitation(pending)">Não</a>
            </div>
            <div class="button-bar" ng-if="pending.statusPendencie == 'finalizeGroup'">
              <a class="button accept-button" ng-click="acceptFinalizedGroup(pending)">Sim</a>
              <a class="button deny-button" ng-click="denyFinalizedGroup(pending)">Não</a>
            </div>
           </ion-item>
        </ion-card>
    </ion-content>
</ion-modal-view>