<ion-view view-title="Pendentes">
  <ion-content class="padding list-avatar-page">
      <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh(phone)">
      </ion-refresher>         
      <div ng-if="pendencies.length > 0" >
        <ion-list ng-repeat="(key,value) in pendencies | groupBy: 'statusPendencie'"  >
          <div class="item item-divider divider-title">
            <h2 ng-if="key == 'paymentConfirm'"> Confirmação de Pagamento </h2>
            <h2 ng-if="key == 'pending'"> Transações Pendentes </h2>
            <h2 ng-if="key == 'createGroup'"> Confirmação de Grupos </h2>  
            <h2 ng-if="key == 'finalizeGroup'"> Finalização de Grupos </h2>
            <h2 ng-if="key == 'finalizeTransaction'"> Finalização de Transações de Grupo </h2>    
          </div>
          <div ng-repeat="pending in value">
    <!-- Payment Confirm -->
          <ion-item class="item-list" ng-if="pending.statusPendencie == 'paymentConfirm' || pending.statusPendencie == 'pending'" 
          ng-click = "openTransactionModal(pending)">
            <ion-avatar item-left style="float: left; margin-right:10px">
                <img style="width: 45px" src="img/no-avatar.png">
            </ion-avatar>
            <div  item-left style="float:left" >
              <div id="name" ng-if="pending.creator.name">
                <h2   ng-if="pending.status == 'paymentConfirm'">{{pending.creator.name}} <p > Confirmar Pagamento</p></h2>
                <h2  ng-if="pending.status == 'pending'">{{pending.creator.name}} <p > Confirmar Transação</p></h2>
              </div>
              <p>{{pending.createdAt | relativeDate}}</p>
              </div>
              <div ng-if="pending.creator.phone.value != pending.creditor.phone.value" class="item-image">
                <img src="img/creditor.svg">
              </div>
              <div ng-if="pending.creator.phone.value != pending.debtor.phone.value" class="item-image">
                <img src="img/debtor.svg">
              </div>
          </ion-item>
          <ion-item class="item-list" ng-if="pending.statusPendencie == 'createGroup' && !pending.finalizedAt"  ng-click = "openGroupModal(pending)">
            <ion-avatar item-left style="float: left; margin-right:10px; position: absolute">
                    <img style="width: 45px" src="img/no-group.png">
            </ion-avatar>
            <div  item-left style="float:left; margin-left: 60px;">
              <h2> Grupo {{pending.title}} <p>criado por {{pending.creator.name}}</p> </h2>
              <p >{{pending.createdAt | relativeDate}}</p>
            </div>
          </ion-item>
          <ion-item class="item-list" ng-if="pending.statusPendencie == 'finalizeGroup' && !pending.finalizedAt" ng-click = "openGroupModal(pending)">
            <ion-avatar item-left style="float: left; margin-right:10px; position: absolute">
                <img style="width: 45px" src="img/no-group.png">
            </ion-avatar>
            <div  item-left style="float:left; margin-left: 60px;">
              <h2> Grupo {{pending.title}} <p>criado por {{pending.creator.name}}</p> </h2>
              <p >{{pending.createdAt | relativeDate}}</p>
            </div>
          </ion-item>
          
            <ion-item class="item-list" ng-repeat="transaction in pending.transactions" ng-if="pending.statusPendencie == 'finalizeTransaction' && transaction.flagFinalized == false" ng-click="openGroupModalTransaction(pending, transaction)">
              <ion-avatar item-left style="float: left; margin-right:10px; position: absolute">
                      <img style="width: 45px" src="img/no-group.png">
              </ion-avatar>
              <div  item-left style="float:left; margin-left: 60px;">
                <h2> Grupo {{pending.title}} </h2>
                <p>Centestaram a transação que você criou <br/> de descrição: {{transaction.description}}</p> 
                <p >{{pending.updatedAt | relativeDate}}</p>
              </div>
            </ion-item>
                   
          </div>
        </ion-list>
      </div>
     <ion-item style="background: none; border: none">
      <div ng-hide="pendencies.length > 0">
        <p> Não há nada pendente no momento </p>
      </div>
    </ion-item>
  </ion-content>
</ion-view>


