<style>
  .checkbox-icon{
    width:32px !important;
    height: 32px !important;
  }

  .item-checkbox .checkbox{
    position: initial !important;
    margin-top:11px !important;
    float: right !important;
  }

</style>

<ion-modal-view class="new_modal" ng-init="contactsOnLoad()">
    <ion-header-bar align-title="center" class="bar-positive new-header">        
        <i class="ion-arrow-left-c arrow-back" ng-click="modal.hide()"></i>
        <h1 class="title" style="text-align">Registro novo grupo</h1>  
    </ion-header-bar>
    <form name="registerGForm" ng-submit="addFriend((users|filter:{selected: true}), registerGForm)" class="form-group">
    <ion-content scroll="false">            
      <div class="list input-name-group">
        <label class="item item-input">
          <input ng-model="registerGForm.title" type="text" placeholder="Nome do grupo">
        </label>
      </div>  
    </ion-content>
    <ion-content scroll="true" class="form-content" ng-init="contactsOnLoad()" on-drag-right="onDrag()">  

      <ion-list ng-repeat="user in users | orderBy:'name'" ng-if="user.registrationFlag">
          <ion-checkbox ng-model="user.selected">
            <ion-item>
              <ion-avatar item-left class="avatar-ion">
                <img class="avatar" src="img/no-avatar.png">
              </ion-avatar>
              	<h2 ng-if="user.name == 'Sem Nome' || user.name == undefined" class="title-name">Desconhecido</h2>
                <h2 ng-if="user.name != 'Unknw' || user.name != undefined" class="title-name">{{user.name}}</h2>               
                
            </ion-item>
            <ion-item>
              <h3>Números de telefones</h3>
              <div>
                <p>{{user.phone.value}}</p>
              </div>               
              <ion-icon ios="ios-call" md="md-call" item-right></ion-icon>
            </ion-item>
          </ion-checkbox>
        </ion-list>   
    </ion-content>
    <ion-content scroll="false" class="content-scroll">            
      <div class="list div-button-group">
          <button type="submit" class="button button-positive button-group">
            CRIAR GRUPO
          </button>
      </div>  
    </ion-content>
    </form>   
</ion-modal-view>