<ion-view ng-controller="GroupsCtrl" view-title="Grupos">
  <ion-nav-buttons side="right">
    <i class='ion-arrow-left-c ion-plus-round text-right group-icon' ng-click="openCreateGroupWizard()"></i>
  </ion-nav-buttons>  
  <ion-content class="home padding" ng-init="listGroups()" style="padding-top: 10px; padding-bottom: 10px;">
      <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
      </ion-refresher>     
    <ion-list ng-repeat="group in groups | orderBy:'-updatedAt'" ng-click="groupDetail(group)" ng-if="group.members != '' && !group.finalizedAt">      
        <ion-item>
          <ion-avatar item-left class="avatar-ion">
            <img class="avatar" src="img/no-avatar.png">
          </ion-avatar>
            <h2 ng-if="group.title != 'Unknw' || group.title != undefined" class="title-name">{{group.title}}</h2>  
            <i style="font-size: 20px; margin-top: 20px; color: green; float: right;" class="ion-power"></i>           
        </ion-item>
        <ion-item>
          <h3>Componentes do grupo:</h3>
          <div>
           <p>
              <label ng-repeat="member in group.members">{{member.name}}. </label>
           </p>
          </div>               
          <ion-icon ios="ios-call" md="md-call" item-right></ion-icon>
        </ion-item>
    </ion-list> 
    <ion-list ng-repeat="group in groups | orderBy:'title'" ng-click="groupDetail(group)" ng-if="group.finalizedAt">      
        <ion-item>
          <ion-avatar item-left class="avatar-ion">
            <img class="avatar" src="img/no-avatar.png">
          </ion-avatar>
            <h2 ng-if="group.title != 'Unknw' || group.title != undefined" class="title-name">Grupo: {{group.title}}</h2>    
            <i style="font-size: 20px; margin-top: 20px; color: red; float: right;" class="ion-power"></i>         
        </ion-item>
        <ion-item>
          <h3>Componentes do grupo:</h3>
          <div>
           <p>
              <label ng-repeat="member in group.members">{{member.name}}. </label>
           </p>
          </div>               
          <ion-icon ios="ios-call" md="md-call" item-right></ion-icon>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
