<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contatos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="home">
    <div class="padding">
        <ion-list *ngFor="let contact of contacts">
        <ion-card *ngIf="contact.phoneNumbers != null">
          <ion-item>
            <ion-avatar item-left>
            <img src="img/no-avatar.jpg">
            </ion-avatar>
            <h2 *ngIf="contact.name.formatted != null && contact.name.formatted != undefined ">{{contact.name.formatted}}</h2>
            <h2 *ngIf="contact.name.formatted == null && contact.name.formatted == undefined ">Sem Nome </h2>
            <ion-avatar style="text-align: right;" item-right>
              <ion-icon style="color: #428606; font-size: 35px;" name="ios-phone-portrait-outline"></ion-icon>
            </ion-avatar>
          </ion-item>
          <ion-item>
            <h3>Número(s) de telefone(s)</h3>
            <div class="phoneNumbers" *ngFor="let number of contact.phoneNumbers">
            <p>{{number.value}}</p>
            </div>
            <ion-icon ios="ios-call" md="md-call" item-right></ion-icon>
          </ion-item>
            <ion-item *ngIf="contact.email != undefined">
              <div class="email" >
                <h3>Email(s):</h3>
                <div *ngFor="let email of contact.email">
                  <p>{{email}}</p>
                </div>
              </div>
          </ion-item>
        </ion-card>
        </ion-list>
      </div>
</ion-content>
