<ion-modal-view class="new_modal">
    <ion-header-bar align-title="center" class="bar-positive">        
        <i class="ion-arrow-left-c arrow-back" ng-click="modal.hide()"></i>
        <h1 class="title" style="text-align">Registro Pagamento</h1>
    </ion-header-bar>
    <ion-content class="padding" on-drag-right="onDrag()">
        <form name="valueForm" ng-submit="payTransaction(transaction)" >
          <ion-card>
              
            <ion-item>
              
              <span ng-if="transaction.debtor.phone.value == phone" class="input-label center">Transação de: <label  class="text-content-timeline-red" >R$ {{transaction.valueTotal}}</label></span>
              <span ng-if="transaction.creditor.phone.value == phone" class="input-label center">Transação de: <label  class="text-content-timeline-accepted">R$ {{transaction.valueTotal}} </label></span>

              <span class="input-label">Valor quitado da transação: </span>              
               <input id="val" type="tel" name="input" ng-model="transaction.valuePaid" placeholder="Valor" ng-pattern="\\d+">                  
               
            </ion-item>           
          </ion-card>
          <ion-list style="height: 50px; text-align: left;">

            <ion-checkbox ng-change="changeInput(transaction)" id="teste" ng-model="transaction.check"><label style="margin-left: 40px;">Pagar valor total</label></ion-checkbox>
            

          </ion-list>
            
          <p style="register-error">
            {{error_transaction}}
          </p>
          <input type="submit" value="Confirmar Pagamento" style="width:100%;" class="button button-full button-dark button-contact accept-button">
        </form>
    </ion-content>
</ion-modal-view>