<ion-view view-title="Timeline" >
  
  <ion-content class="home">
   <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
   </ion-refresher>         

    <button class="button" ng-click="onInit()">Listar timeline</button>
  
    <div class="padding" ng-init="onInit()" if="transactions">
        <div class="div-principal" ng-repeat="transaction in transactions" >
          <div class="item item-body time-body">            
                  {{transaction.createdAt | relativeDate}}
          </div>
          <div class="div-tipos">              
              <div ng-if="transaction.creditor.phone.value == phone" class="divCreditor">
                <img  class="icon-timeline" src="img/creditor_white.svg">
              </div>
              <div ng-if="transaction.creditor.phone.value != phone" class="divDebitor">
                <img  class="icon-timeline" src="img/creditor_white.svg">
              </div>
          </div>
          <div class="div-shop">
             <div class="title-body-accepted" ng-if="transaction.status == 'accepted'">Aceito</div>
             <div class="title-body-paid" ng-if="transaction.status == 'paid'">Pago</div>
             <div class="title-body-pending" ng-if="transaction.status == 'pending'">Pendente</div>             
             <div class="title-body-denied" ng-if="transaction.status == 'denied'">Negado</div>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value == phone && transaction.debtor.name">
                O <label class="text-content-timeline">{{transaction.debtor.name}}</label> de telefone <label class="text-content-timeline">{{transaction.debtor.phone.value}}</label> tem uma transação com você no valor de: <label class="text-content-timeline">R$ {{transaction.value}} </label>
             </p>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value == phone && !transaction.debtor.name">
                O telefone <label class="text-content-timeline">{{transaction.debtor.phone.value}}</label> tem uma transação com você no valor de: <label class="text-content-timeline">R$ {{transaction.value}} </label>
             </p>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value != phone && transaction.creditor.name">
                O <label class="text-content-timeline-red">{{transaction.creditor.name}}</label> de telefone <label class="text-content-timeline-red">{{transaction.creditor.phone.value}}</label> tem uma transação com você no valor de: <label class="text-content-timeline-red">R$ {{transaction.value}} </label>
             </p>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value != phone && !transaction.creditor.name">
                O telefone <label class="text-content-timeline-red">{{transaction.creditor.phone.value}}</label> tem uma transação com você no valor de: <label class="text-content-timeline-red">R$ {{transaction.value}} </label>
             </p>
          </div>  
        </div>
    </div>
  </ion-content>

</ion-view>
