<ion-view view-title="Timeline" >
  
  <ion-content class="home">
   <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
   </ion-refresher>         

    <div class="padding" ng-init="onInit()">
        <div class="div-principal" ng-repeat="transaction in transactions">
          <div class="item item-body time-body">            
                  {{transaction.createdAt | relativeDate}}
          </div>
          <div class="div-tipos">              
              <div ng-if="transaction.creditor.phone.value == phone" class="divCreditor">
                <img  class="icon-timeline" src="img/creditor_white.svg">
              </div>
              <div ng-if="transaction.creditor.phone.value != phone" class="divDebitor">
                <img  class="icon-timeline" src="img/creditor_white.svg">
              </div>
          </div>
          <div class="div-shop">
             <div class="title-body-accepted" ng-if="transaction.status == 'accepted'">Aceito</div>
             <div class="title-body-paid" ng-if="transaction.status == 'paid'">Pago</div>
             <div class="title-body-pending" ng-if="transaction.status == 'pending'">Pendente</div>             
             <div class="title-body-denied" ng-if="transaction.status == 'denied'">Negado</div>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value == phone && transaction.debtor.name">
                O {{transaction.debtor.name}} de telefone {{transaction.debtor.phone.value}} tem uma transação com você no valor de: <label style="font-size: 16px; color: #2cec2c;">R$ {{transaction.value}} </label>
             </p>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value == phone && !transaction.debtor.name">
                O telefone {{transaction.debtor.phone.value}} tem uma transação com você no valor de: <label style="font-size: 16px; color: #2cec2c;">R$ {{transaction.value}} </label>
             </p>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value != phone && transaction.creditor.name">
                O {{transaction.creditor.name}} de telefone {{transaction.creditor.phone.value}} tem uma transação com você no valor de: <label style="font-size: 16px; color: #2cec2c;">R$ {{transaction.value}} </label>
             </p>
             <p class="color-text-timeline" ng-if="transaction.creditor.phone.value != phone && !transaction.creditor.name">
                O telefone {{transaction.creditor.phone.value}} tem uma transação com você no valor de: <label style="font-size: 16px; color: #2cec2c;">R$ {{transaction.value}} </label>
             </p>
          </div>  
        </div>
    </div>
  </ion-content>

</ion-view>
