.button-div {
    width: 100%; text-align: center; margin-top: 10px;
}

.avatar {
    width: 50px;
}

.title-name{
    line-height: 52px; margin-left: 10px; float: left;
}

.app-green{
    color: green; font-size: 30px; line-height: 52px; float: right; margin-right: 7px;
}

.app-red{
    color: red; font-size: 30px; line-height: 52px; float: right; margin-right: 7px;
}